<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="be.heh.pfa">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:installLocation="internalOnly"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PFA">
        <activity android:name=".VueComprimeActivity"></activity>
        <activity android:name=".PLCViewActivity" />
        <activity android:name=".AddAutomateActivity" />
        <activity android:name=".AddUserActivity" />
        <activity android:name=".ManageAutomatesActivity" />
        <activity android:name=".ManageUsersActivity" />
        <activity
            android:name=".ProfileActivity"
            android:label="@string/title_activity_admin_profile"
            android:theme="@style/Theme.PFA.NoActionBar" />
        <activity
            android:name=".ProfileAdminActivity"
            android:label="@string/title_activity_profile_admin"
            android:theme="@style/Theme.PFA.NoActionBar" />
        <activity android:name=".HomeLambdaActivity" />
        <activity android:name=".HomeAdminActivity" />
        <activity android:name=".SignLambdaActivity" />
        <activity android:name=".CreateSuperUserActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>